<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitit.model.dao.ChallengeDao">
    <resultMap id="ChallengeInfo" type="Challenge">
        <result column="challenge_no" property="challengeNo"/>
        <result column="user_no" property="userNo"/>
        <result column="challenge_name" property="challengeName"/>
        <result column="challenge_content" property="challengeContent"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="point" property="point"/>
<!--        <collection property="missions"/>-->
    </resultMap>

    <resultMap id="MissionInfo" type="Mission">
        <result column="mission_no" property="missionNo"/>
        <result column="challenge" property="challengeNo"/>
        <result column="video_id" property="videoId"/>
        <result column="video_title" property="videoTitle"/>
        <result column="channel_name" property="channelName"/>
        <result column="video_thumbnail" property="videoThumbnail"/>
    </resultMap>

    <resultMap id="ReviewInfo" type="ChallengeReview">
        <result column="challenge_review_no" property="challengeReviewNo"/>
        <result column="challenge_no" property="challengeNo"/>
        <result column="user_no" property="userNo"/>
        <result column="content" property="content"/>
        <result column="review_score" property="reviewScore"/>
    </resultMap>

    <insert id="insertChallenge" parameterType="Challenge">
        insert into challenge (user_no, challenge_name, challenge_content, start_date, end_date, point)
        values (#{userNo}, #{challengeName}, #{challengeContent}, #{startDate}, #{endDate}, #{point})
    </insert>

    <select id="recentChallengeNo" resultType="int">
        select max(challenge_no) as challenge_no
        from challenge
    </select>

    <insert id="insertMission" parameterType="Mission">
        insert into mission (challenge_no, video_id, video_title, channel_name, video_thumbnail)
        values (#{challengeNo}, #{videoId}, #{videoTitle}, #{channelName}, #{videoThumbnail})
    </insert>

    <update id="updateChallenge" parameterType="Challenge">
        update challenge
        set challenge_name    = #{challengeName},
            challenge_content = #{challengeContent},
            start_date        = #{startDate},
            end_date          = #{endDate},
            point             = #{point}
        where challenge_no = #{challengeNo}
    </update>

    <update id="updateMission" parameterType="Mission">
        update mission
        set video_id        = #{videoId},
            video_title     = #{videoTitle},
            channel_name    = #{channelName},
            video_thumbnail = #{videoThumbnail}
        where mission_no = #{missionNo}
    </update>

    <delete id="deleteMission" parameterType="int">
        delete
        from mission
        where challenge_no = #{challengeNo}
    </delete>

    <delete id="deleteChallenge" parameterType="int">
        delete
        from challenge
        where challenge_no = #{challengeNo}
    </delete>

    <select id="selectMissionByChallengeNo" parameterType="int" resultMap="MissionInfo">
        select *
        from mission
        where challenge_no = #{challengeNo}
    </select>

    <select id="selectAllMakeChallenge" parameterType="int" resultMap="ChallengeInfo">
        select *
        from challenge
        where user_no = #{userNo}
    </select>

    <select id="selectAllChallenge" resultMap="ChallengeInfo">
        select *
        from challenge
    </select>

    <insert id="insertChallengeReview" parameterType="ChallengeReview">
        insert into challenge_review (challenge_no, user_no, content, review_score)
        values (#{challengeNo},#{userNo},#{content},#{reviewScore})
    </insert>

    <select id="selectChallengeReviewByChallengeNo" parameterType="int" resultMap="ReviewInfo">
        select * from challenge_review where challenge_no=#{challengeNo}
    </select>

    <select id="oneChallengeByChallengeNo" parameterType="int" resultMap="ChallengeInfo">
        select *
        from challenge
        where challenge_no = #{challengeNo}
    </select>



    <insert id="insertParticipant" parameterType="int">
        insert into participant (challenge_no, user_no)
        values (#{challengeNo},#{userNo})
    </insert>


</mapper>